@import "base", "reset", "variables", "classes", "media-queries";

.grid-container {
  display: grid;
  grid: "picture header" auto
  "aside main" 1fr
  "footer footer" auto
  / 350px auto;
  @include xs {
    display: grid;
    grid:
            "header" auto
            "main" auto
            "picture" auto
            "aside" auto
            "footer" auto
            / auto;
  }
}

.picture {
  grid-area: picture;
  padding: 3rem;
  background: $background;
  border-right: 1px solid $border;

  img {
    border-radius: 50%;
    margin-top: 45px;
  }
}

header {
  grid-area: header;
  min-height: 30rem;
  background: linear-gradient(to right, $primary, $light);
  padding: 8rem 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  @include xs {
    padding: 5rem 2rem;
  }
  h1 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 3rem;
    @include xs {
      font-size: 4rem
    }
  }

  p {
    letter-spacing: 0.3rem;
  };

}

aside {
  grid-area: aside;
  background: $background;
  border-right: 1px solid $border;
  padding: 5rem;

  .block {
    margin-bottom: 5rem;

    h3 {
      margin-bottom: 0;
      font-size: 1.4rem;
    }

    p {
      margin-top: 1rem;
      font-style: italic;
    }

    i {
      font-size: 1.5rem;
    }

  }
}

.bar-skill {
  margin: 2rem 0;
  height: 5px;
  background: $hint;
  position: relative;
}

main {
  grid-area: main;
  padding: 5rem;
  @include xs {
    padding: 5rem 1rem;

  }
  h2 {
    margin-bottom: 4rem;
  }

  p {
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

;

.stars-container {
  display: flex;
  margin: 2rem 0 3rem 0;
  color: $hint;

  i {
    font-size: 2rem;
    margin: 0 1rem;
  }

}

.experience {
  display: flex;
  margin: 10rem auto;


  .timeline {
    text-align: center;
    color: $hint;
    padding-right: 2rem;
    border-right: 1px solid $border;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {

      margin: 0;
    }
  }

  .content {
    padding: 0 1rem;
  }
}

footer {
  grid-area: footer;
  padding: 5rem;
  background: $text;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
  @include xs {
    padding: 5rem 1.5rem;
  }
  /*cc*/
  form {
  }

  .prefix {
    background: linear-gradient(to right, $dark, $light);
    padding: 1rem 2rem;
    color: white;
    font-size: 2rem;
    line-height: 2rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  h2 {
    margin-bottom: 3rem;
  }

  i {
  }

  button {
    background: $text;
    border: 0;
    cursor: pointer;
    transition: hover 0.5s;

    &:hover {
      opacity: 0.8;
    }

    .postfix {
      background: linear-gradient(to right, $dark, $light);
      padding: 1rem 2rem;
      color: white;
      font-size: 2rem;
      line-height: 2rem;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;

    }
  }

  input {
    border: 0;
    min-h: 400px;
    padding: 1rem 2rem;
    @include xs {
      min-width: 180px;
    }

    &::placeholder {
      color: $text;
    }
  }
}

